* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

i {
  pointer-events: none;
}

body {
  background: #e2af79;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

header h1 {
  color: #381f0c;
  font-size: 3rem;
}

header span {
  font-size: 2rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  width: 100%;
}

main div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

main div form input,
main div form button {
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  margin: 0.1rem;
}

main div form input[type="text"] {
  min-width: 9rem;
}

main div form input[type="number"] {
  width: 50px;
  text-align: center;
}

main div form input::-webkit-outer-spin-button,
main div form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main div form input[type="number"] {
  -moz-appearance: textfield;
}

main div form button {
  cursor: pointer;
  background-color: #009272;
  color: white;
}

main div p.po {
  margin: 1rem 0;
  font-size: 2rem;
  text-align: center;
}

main section.right {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
}

main section.right section div.todo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem 0rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

main section.right section div.todo p {
  background-color: white;
  color: black;
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
}

main section.right section div.todo p.todo-text {
  width: 50%;
}

main section.right section div.todo p.todo-time {
  width: 20%;
  text-align: center;
}

main section.right section div.todo button {
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  border: none;
  cursor: pointer;
  color: white;
}

main section.right section div.todo button.complete {
  background-color: #32ff32;
}

main section.right section div.todo button.trash {
  background-color: red;
}

main section.right div.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0rem;
}

main section.right div.sort button {
  cursor: pointer;
  background-color: #009272;
  color: white;
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
}

main .done {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scaleDown {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaleDown {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media screen and (max-width: 600px) {
  main div form input, main div form button {
    font-size: 1.25rem;
  }
  main section.right section div.todo p {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=style.css.map */